<%- include("header.ejs")%>
        <h1>
            <%= title%>
        </h1>
      


        <h2>Description :</h2>

        <div class="row d-flex justify-content-center">

            <div class="card mb-3 " style="width: 80%">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="<%= img%>" class="img-fluid rounded-start p-1" alt="<%= desc%>">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                <%= name%>
                            </h5>
                            <p class="card-text">
                                <%= desc%>
                            </p>
                            <p class="card-text">
                                <%= price%>€
                            </p>
                            <div class="d-flex justify-content-around">

                                <a class="btn btn-primary" href="/shop">Retour</a>
                                <!-- nameFromFront => pour éviter l'ajout d'article à chaque chargement de la page du panier -->
                                <a class="btn btn-success" href="/panier?productNameFromFront=<%=name%>&productImgFromFront=<%=img%>&productPriceFromFront=<%= price%>">Ajouter</a>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

<h2>Laisser un commentaire : </h2>
        


<h2>Commentaires laissés :</h2>

<%- include("footer.ejs")%>