<%- include("header.ejs")%>



    <h1>
        <%= title %>
    </h1>
    <p>Welcome to <%= title %> 
    </p>







    <div class="row d-flex justify-content-center">



        <!-- exploiter les éléments du tableau dataProducts avec la boucle "for" -->
        <% for(let i=0; i<products.length; i++) { %>
            <% if(products[i].mea == true) {%>
                <div class="col col-lg-3 mt-3 mb-2 ms-5 ms-md-0 ">
                    <div class="card mea" style="width: 16rem;">
                        <img src=<%=products[i].img%> class="card-img-top" alt=<%= products[i].desc%>
                            >
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= products[i].name%>
                                </h5>
                                <p class="card-text">
                                    <%= products[i].desc%>
                                </p>
                                <div class="d-flex justify-content-around">
                                    <p><strong><%= products[i].price%> €</strong></p>
                                    <p class="text-danger"><strong>New !</strong></p>
                                </div>
                                
                                <div class="d-flex justify-content-around">
                                    <!-- je récupère les infos en Get via la balise <a> vers le backend -->
                                    <a class="btn btn-primary" href="/product?name=<%=products[i].name%>&img=<%=products[i].img%>&desc=<%= products[i].desc%>&price=<%= products[i].price%>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg " viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                                      </svg> Détail</a> 
                                    <!-- je récupère les infos en Get via la balise <a> vers le backend -->
                                    <a class="btn btn-success" href="/panier?productNameFromFront=<%=products[i].name%>&productImgFromFront=<%=products[i].img%>&productPriceFromFront=<%= products[i].price%>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus me-2" viewBox="0 0 16 16">
                                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                      </svg>Ajouter</a> 
                
                                  </div>
                            </div>
                    </div>
    
    
                </div>
                <%} else {%>
            <div class="col col-lg-3 mt-3 mb-2 ms-5 ms-md-0">
                <div class="card" style="width: 16rem;">
                    <img src=<%=products[i].img%> class="card-img-top" alt=<%= products[i].desc%>
                        >
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= products[i].name%>
                            </h5>
                            <p class="card-text">
                                <%= products[i].desc%>
                            </p>
                            <p>
                                <%= products[i].price%> €
                            </p>
                            <div class="d-flex justify-content-around">
                                <!-- je récupère les infos en Get via la balise <a> vers le backend -->
                                <a class="btn btn-primary" href="/product?name=<%=products[i].name%>&img=<%=products[i].img%>&desc=<%= products[i].desc%>&price=<%= products[i].price%>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg " viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                                  </svg> Détail</a> 
                                <!-- je récupère les infos en Get via la balise <a> vers le backend -->
                                <a class="btn btn-success" href="/panier?productNameFromFront=<%=products[i].name%>&productImgFromFront=<%=products[i].img%>&productPriceFromFront=<%= products[i].price%>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus me-2" viewBox="0 0 16 16">
                                    <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                  </svg>Ajouter</a> 
            
                              </div>
                        </div>
                </div>


            </div>
            
            <% }}%>
    </div>

<%- include("footer.ejs")%>